{% extends "base.html" %}

{% block header %}
    <!--Jumbotron-->
    <div class="jumbotronback p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 rounded-3" id="homeJumbotron">
            <h1 class="display-5 fw-bold" id="slogan"> Your Musical Market </h1>
            <p class="col-md-8 fs-4" id="slogan"> One beat at a time. Step into a vibrant musical marketplace where
                boundaries blur, and rhythms collide. BeatBazaar is your passport to concerts by rising international
                artists, bringing together diverse cultures and genres to create a symphony of unforgettable moments.
            </p>
        
            <a href="{{ url_for('event.details') }}" class="btn btn-primary btn-lg" id="btnSurprise" type="button">View Our Featured
                Event</a>
        </div>
    </div>
{% endblock %}

{% block content %} 

    <div class="container text-center">
        <h2 id="home-title" style="color: #780087;">🎶🎵 𝓜𝓾𝓼𝓲𝓬 𝓕𝓮𝓼𝓽𝓲𝓿𝓪𝓵𝓼 🎶</h2>

        <h3 id="Upcoming">Browse by Category (Country of Origin)</h3>

        <!-- Control buttons -->
        <div id="myBtnContainer">
            <button class="btn festivalCategory" onclick="filterSelection('Australia')"> Australia</button>
            <button class="btn festivalCategory" onclick="filterSelection('India')"> India</button>
            <button class="btn festivalCategory" onclick="filterSelection('Poland')"> Poland</button>
            <button class="btn festivalCategory" onclick="filterSelection('Japan')"> Japan</button>
            <button class="btn festivalCategory" onclick="filterSelection('Pakistan')"> Pakistan</button>
            <button class="btn festivalCategory" onclick="filterSelection('USA')"> USA</button>
            <button class="btn festivalCategory active" onclick="filterSelection('all')"> Show all</button>
        </div>


        <h3 id="Upcoming">Upcoming Festivals</h3>

        <div class="Categorycontainer">
            <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/img/shae-gill2.png" alt="Card image">
                        <span class="flag"><img title="Pakistan" id="logo" src="static/img/pakistan.png" width="40"
                                alt="Pakistan flag"></span>
                        <span class="badge badge-secondary" id="inactive"> INACTIVE </span>
                        <div class="card-body">
                            <h5 class="card-title">Shae Gill: Full Circle Tour</h5>
                            <h3 id="cardEventDate"> Wed, Sept 27 2023, 7:00 PM</h3>
                            <h4 id="cardLocation"> Riverstage • Brisbane • QLD</h4>

                            <p class="card-text">
                                Prepare to be swept off your feet and immersed in a musical journey like no other.
                            </p>
                            <a href="{{ url_for('event.details') }}" class="btn btn-primary" id="btnEventDetails"> Details 🠲
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/img/fujii-kaze2.png" alt="Card image">
                        <span class="flag"><img title="Japan" id="logo" src="static/img/japan.png" width="40"
                                alt="Japan flag"></span>
                        <span class="badge badge-secondary" id="soldOut"> SOLD OUT </span>
                        <div class="card-body">
                            <h5 class="card-title">Fujii Kaze and the piano Tour</h5>
                            <h3 id="cardEventDate"> Sat, Oct 14 2023, 3:00 PM</h3>
                            <h4 id="cardLocation"> Qudos Bank Arena • Sydney Olympic Park • NSW</h4>

                            <p class="card-text">
                                No. 1 on Billboard Japan’s Hot Albums chart singer/songwriter takes on Australia solo!
                            </p>
                            <a href="{{ url_for('event.details') }}" class="btn btn-primary" id="btnEventDetails"> Details 🠲
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/img/fujii-kaze.png" alt="Card image">
                        <span class="flag"><img title="Japan" id="logo" src="static/img/japan.png" width="40"
                                alt="Japan flag"></span>
                        <span class="badge badge-secondary" id="cancelled"> CANCELLED </span>
                        <div class="card-body">
                            <h5 class="card-title">Fujii Kaze: Haru Matsuri</h5>
                            <h3 id="cardEventDate"> Sat, Oct 21 2023, 4:30 PM</h3>
                            <h4 id="cardLocation"> Rod Laver Arena • Melbourne • VIC</h4>

                            <p class="card-text">
                                A 2nd show for fans who missed out! Until it got cancelled.
                            </p>
                            <a href="{{ url_for('event.details') }}" class="btn btn-primary" id="btnEventDetails"> Details 🠲
                            </a>
                        </div>
                    </div>
                </div>

            <!--PAST FESTIVALS WITH INACTIVE STATUS-->
            <h3 id="Past">Past Festivals</h3>

            <div class="row">
                <!--Card-->
                <div class="col-lg-3 col-sm-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="static/img/arijit-singh.jpeg" alt="Card image">
                        <span class="flag"><img title="India" id="logo" src="static/img/india.png" width="40"
                                alt="India flag"></span>
                        <span class="badge badge-secondary" id="inactive"> INACTIVE </span>
                        <div class="card-body">
                            <h5 class="card-title">Arijit Singh Live</h5>
                            <h3 id="cardEventDate"> Fri, Apr 14 2023, 6:00 PM</h3>
                            <h4 id="cardLocation"> Brisbane Entertainment Centre • Brisbane • QLD</h4>

                            <p class="card-text">
                                "Kyunki tum hi ho, ab tum hi ho, zindagi ab tum hi ho" ...Experience the Magic!
                            </p>
                            <a href="{{ url_for('event.details') }}" class="btn btn-primary" id="btnEventDetails"> Details 🠲
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--end of category-->
    </div>

{% endblock %}
