{% extends "base.html" %}

{% block header %}
<!--Jumbotron-->
<div class="jumbotronback p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 rounded-3" id="homeJumbotron">
        <h1 class="display-5 fw-bold" id="slogan"> Your Musical Market </h1>
        <p class="col-md-8 fs-4" id="slogan"> One beat at a time. Step into a vibrant musical marketplace where
            boundaries blur, and rhythms collide. BeatBazaar is your passport to concerts by rising international
            artists, bringing together diverse cultures and genres to create a symphony of unforgettable moments.
        </p>

        <a href="{{ url_for('event.show', id=0) }}" class="btn btn-primary btn-lg" id="btnSurprise" type="button">View Our
            Featured
            Events</a>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container text-center">
    <h2 id="home-title" style="color: #780087;">🎶🎵 𝓜𝓾𝓼𝓲𝓬 𝓕𝓮𝓼𝓽𝓲𝓿𝓪𝓵𝓼 🎵🎶</h2>

    <h3 id="Upcoming">Browse by Category (Country of Origin)</h3>

    <!-- Control buttons -->
    <div id="myBtnContainer">
        <a class="btn festivalCategory" href="{{ url_for('main.filter', country='Japan')}}">Japan</a>
        <a class="btn festivalCategory" href="{{ url_for('main.index')}}">Show All</a>
    </div>

    <!--ALL EVENTS-->
    <h3 id="Event">All Events</h3>
    <div class="Categorycontainer">
        <div class="row">
            {% for event in events %}
            <div class="col-lg-3 col-sm-12 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{event.image}}" alt="Card image">
                    <span class="flag"><img title="Country" id="logo" src="static/img/{{event.country}}.png" width="40"
                            alt="Country flag"></span>
                    <span class="badge badge-secondary" id="inactive"> {{event.status}} </span>
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <h3 id="cardEventDate"> {{ event.date }}, {{ event.start_time }}</h3>
                        <h4 id="cardLocation"> {{event.venue}} • {{event.city}} • {{event.state}}</h4>

                        <p class="card-text">
                            Prepare to be swept off your feet and immersed in a musical journey like no other.
                        </p>
                        <a href="{{ url_for('event.show', id=event.id) }}" class="btn btn-primary" id="btnEventDetails"> Details
                            🠲
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> <!--end of category-->
</div>

{% endblock %}
