{% include "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block body %}

<div class="page-header">
    <h4>{{heading}}</h4>
</div>

<!-- Form rendering is simple and easy if using bootstrap -->
<div class="col-md-6">
    {{render_form(form)}}
</div>

<!-- When you have login form, then show the user a link to register to the website -->
{% if heading|lower =='login' %}
<div class="col-md-4">
    <p>New user? <a href="{{ url_for('register') }}">Click Here to Register!</a>.</p>
</div>
{% endif %}

{% endblock %}
